<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<property name="defaultPattern"
		value="%-30(%d{MM/dd/yyyy HH:mm:ss.SSS} [%thread - %X{mdcString}]) %-5level %logger{32} - %msg%n"
		scope="system" />

	<appender name="con" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="con" />
	</root>
</configuration>
